body{
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
    background-repeat: no-repeat;
      -moz-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    color:#666;
    background-attachment: fixed;
}

.fundo{
  height: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  margin-top: -150px;
  }

.login{
  border: solid 1px #666;
  border-radius: 20px;
  height: 400px;
  width: 600px;
  position: absolute;
  top: 50%;
  left:50%;
  margin-top: -200px;
  margin-left: -300px;
  background-color: #ccc;
  box-shadow: 0px 0px 70px #666 inset;
  -moz-box-shadow: 0px 0px 70px #666 inset;
  -webkit-box-shadow: 0px 0px 70px #666 inset;
  padding: 20px;
}

.logo{
  height: 50px;
  }

.teclado{
  background-color: rgba(0, 0, 0, 0.5);
  width: 240px;
  border-radius: 10px;
  position:absolute;
  top: 35;
  left: 100%;
  display: none;
  margin-left: 10px;
}

.tecladoano{
  background-color: rgba(0, 0, 0, 0.5);
  width: 240px;
  border-radius: 10px;
  position:absolute;
  top: 35;
  left: 100%;
  display: none;
  margin-left: 10px;
}
