@media print{

.fundo-treino_P{
  margin-top: -170px;
}

hr{
  display: none;
}

.print{
  display: block;
}

.noprint{
        display: none;
}
  .body{
        display: none;
  }

  .info{
        display: none;
  }

  .icone{
        display: none;;
    }

  .botao{
        display: none;
  }

  .conteudo{
        display: none;
  }



  .fundo-teclado{
        display: none;
  }

  .fundo-teclado-fc{
        display: none;
  }

  .fundo-teclado-peso{
        display: none;
  }

  .fundo-teclado-altura{
        display: none;
  }

  .fundo-teclado-pisada{
        display: none;
  }

  .fundo-teclado-carga{
    display: none;  }
}


.body{
  font-family: arial;
}

.info{
  background-color: #666;
  Color: #fff;
  margin-top: -15px;
}

.icone{
  height: 80px;
  border-radius: 15px;
  margin: 20px;
  margin-bottom: 2px;
  }

.botao{
  display: inline;
  float:left;
}

.conteudo{
  width:480px;
}

.modulo{
  width: 100%;
  margin-top: 200px;
  position: absolute;
  top:10px;
}

.fundo-teclado{
  border: solid 1px #000;
  height: 220px;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  width: 100%;
  display:none;
}

.fundo-teclado-fc{
  border: solid 1px #000;
  height: 220px;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  width: 100%;
  display:none;
}

.fundo-teclado-peso{
  border: solid 1px #000;
  height: 220px;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  width: 100%;
  display:none;
}

.fundo-teclado-altura{
  border: solid 1px #000;
  height: 220px;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  width: 100%;
  display:none;
}

.fundo-teclado-pisada{
  border: solid 1px #000;
  height: 220px;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  width: 100%;
  display:none;
}

.fundo-teclado-carga{
  border: solid 1px #000;
  height: 220px;
  position: fixed;
  top: 50%;
  left:80%;
  margin-top: 0px;
  display:none;
}

.logo-treino{
  height: 50px;
}

.fundo-treino_t{
  border: solid 1px #000;
  width: 40%;
  padding: 20px;
  margin-left: 30%;
}

.fundo-treino_P{
  border: solid 1px #000;
  width: 100%;
  padding: 20px;
  margin-left: 0%;
  display: BLOCK;
}

.sair{
  position: absolute;
  left:100%;
  margin-left: -100px;
}
